.App {
  text-align: center;
}

.StartScreen, .LogIn {
  height: 31em;
  background-size: cover;
  border: 6px solid #000;
  border-radius: 30px;
  text-align: center;
}

.LogIn {
  background-image: url(./images/gingham.jpg);
  align-items: stretch;
}

#inputPassword {
  width: 40%;
}

.loginChoice {
  margin: -5% 1% 3% 1%;
}

.loginFruit {
  width: 30%;
}

.start-border {
  border: 40px solid rgb(245, 112, 112);
  height: 30.25em;
  border-radius: 20px;
}

.start {
  margin: 15%;
  font-size: 150%;
}

.App-header {
  background-color: rgb(247, 239, 31);
  height: 100px;
  padding: 20px;
  color: rgb(7, 7, 7);
}

.App-title {
  font-family: 'Freckle Face', cursive;
  font-size: 4em;
}

p {
  font-family: 'Love Ya Like A Sister', cursive;
}

.Control-Center {
  border: 6px solid black;
  border-radius: 30px;
  height: 31em;
  margin-top: 10px;
  background-color: silver;
}

.form-group {
  margin: 5% 1%;
}

.form-control {
  align-self: right;
  text-align: center;
  width: 30%;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #000;
  margin: -10px 5px 5px 5px;
}

.nav {
  background-color: #020202;
  color: #fff;
}

a {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}

.ctrl-title {
  font-weight: bold;
  font-size: 120%;
}

.btn {
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 5px;
  background-color: aliceblue;
}

.Gameboard {
  border: 6px solid black;
  border-radius: 30px;
  height: inherit;
  margin-top: 10px;
}

.weeds {
  width: 25%;
}

.produce-small {
  width: 60%;
}

.produce-large {
  width: 120%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  height: inherit;
  border: 6px solid black;
  border-radius: 30px;
}

.grid-container-store {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  height: inherit;
  border: 6px solid black;
  border-radius: 30px;
}

.garden-grid {
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
}

.store-grid {
  background-color: oldlace;
}

.grid-container-small {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
  height: auto;
  border-radius: 30px;
}

.grid-item {
  border-radius: 30px;
  height: 10em;
}

.grid-item-garden {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
}

.grid-item-store {
  border-radius: 20px;
  height: 15em;
  width: 20.75em;
  background-image: url(./images/shelf.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: antiquewhite;
}

.grid-item-small {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
  border-radius: 30px;
  height: 3em;
}

.sugar, .flour, .milk {
  height: 70%;
}

.eggs {
  width: 50%;
  margin-top: 30%;
  margin-bottom: -4%;
}

.Kitchen {
  height: 31em;
  background-image: url(./images/kitchenwall.png);
  background-size: cover;
  border: 6px solid black;
  border-radius: 30px;
}

.SellingStand {
  height: 31em;
}

.workspace {
  height: 20em;
}

.oven, .counter {
  float: right;
}

.oven {
  width: 90%;
  margin-top: 15em;
}

.counter {
  width: 98%;
  margin-top: 7%;
}

.rooster {
  margin: 0 5% 1% 0;
}

.SellingStand {
  background-image: url(./images/marketbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 6px solid black;
  border-radius: 30px;
}

.cloud {
  width: 30%;
  opacity: 0;
  position: relative;
  -webkit-animation-name: cloud; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-name: cloud;
  animation-duration: 15s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud {
  0%   {left:-270px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

/* Standard syntax */
@keyframes cloud {
  0%   {left:-270px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

.stand {
  margin: 8.5em;
  width: 30%;
}