
/* Top navbar, basic layout's styling */

.App {
  text-align: center;
}

footer {
  margin-top: 10px;
  clear: both;
}

.footer {
  color: grey;
}

.StartScreen {
  height: 31em;
  background-size: cover;
  border: 6px solid #000;
  border-radius: 30px;
  text-align: center;
}

.start-border {
  border: 40px solid rgb(245, 112, 112);
  height: 30.25em;
  border-radius: 20px;
}

.start {
  margin: 15%;
  font-size: 150%;
}

.App-header {
  background-color: rgb(247, 239, 31);
  height: 100px;
  padding: 20px;
  color: rgb(7, 7, 7);
}

.App-title {
  font-family: 'Freckle Face', cursive;
  font-size: 4em;
}

p {
  font-family: 'Love Ya Like A Sister', cursive;
}

.Control-Center {
  border: 6px solid black;
  border-radius: 30px;
  height: 31em;
  margin-top: 10px;
  background-color: silver;
}

.form-control {
  align-self: right;
  text-align: center;
  width: 30%;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #000;
  margin: -10px 5px 5px 5px;
}

input:focus {
  outline: 0;

}

.nav {
  background-color: #020202;
  color: #fff;
}

a {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}

.ctrl-title {
  font-weight: bold;
  font-size: 120%;
}

.btn {
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 5px;
  background-color: aliceblue;
}

.Gameboard {
  border: 6px solid black;
  border-radius: 30px;
  height: inherit;
  margin-top: 10px;
}

/* Start screen and LogIn */

.StartScreen, .LogIn {
  height: 31em;
  background-size: cover;
  border: 6px solid #000;
  border-radius: 30px;
  text-align: center;
}

.LogIn {
  background-image: url(./images/gingham.jpg);
  align-items: stretch;
}

#inputPassword {
  width: 90%;
}

.loginChoice {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 1%;
}

.loginFruit {
  width: 50%;
}

.start-border {
  border: 40px solid rgb(245, 112, 112);
  height: 30.25em;
  border-radius: 20px;
}

.start {
  margin: 15%;
  font-size: 150%;
}

.Control-Center {
  border: 6px solid black;
  border-radius: 30px;
  height: 31em;
  margin-top: 10px;
  background-color: silver;
}

/* Form styling used in LogIn and Supply Store */

.form-group {
  margin: 5% 1%;
}

.form-control {
  align-self: right;
  text-align: center;
  width: 30%;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #000;
  margin: -10px 5px 5px 5px;
}

/* Garden and Supply Store */

.weeds {
  width: 25%;
}

.produce-small {
  width: 80%;
}

.produce-large {
  width: 170%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  height: inherit;
  border: 6px solid black;
  border-radius: 30px;
}

.grid-container-store {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  height: inherit;
  border: 6px solid black;
  border-radius: 30px;
}

.garden-grid {
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
}

.store-grid {
  background-color: oldlace;
}

.grid-container-small {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
  height: auto;
  border-radius: 30px;
}

.grid-item {
  border-radius: 30px;
  height: 10em;
}

.grid-item-garden {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
}

.grid-item-store {
  border-radius: 20px;
  height: 15em;
  width: 20.75em;
  background-image: url(./images/shelf.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: antiquewhite;
}

.grid-item-small {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
  border-radius: 30px;
  height: 1.5em;
}

.sugar, .flour, .milk {
  height: 70%;
}

.eggs {
  width: 50%;
  margin-top: 30%;
  margin-bottom: -4%;
}


/* Kitchen */

.Kitchen {
  height: 31em;
  background-image: url(./images/kitchenwall.png);
  background-size: cover;
  border: 6px solid black;
  border-radius: 30px;
}

.workspace {
  height: 20em;
}

#make { 
	list-style: none;
	font-family: 'Love Ya Like A Sister', cursive;
	width: 50%;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#make li {
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:40px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#make li h3 { 
	position: absolute;
}

.bar { 
  width: 100%;
	height:40px; 
	margin:1px 2px;  
	position: absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.kitchen-bar {
  margin-left: -50%;
  width:100%;
  position: absolute;
	animation:kitchen-bar 7s ease-out;
	-webkit-animation:kitchen-bar 7s ease-out;
	background-color: #f73838;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
	background-image: -moz-linear-gradient(top, #f674a4, #e06995);
	background-image: -ms-linear-gradient(top, #f674a4, #e06995);
	background-image: -o-linear-gradient(top, #f674a4, #e06995);
	background-image: linear-gradient(top, #f674a4, #e06995);
}

@keyframes kitchen-bar {0%  { width:0px;} 25% { width: 25%; } 50% { width: 50%;} 75% { width: 60%; } 90% { width: 80%; } 100%{ width:100%;}  }
@-webkit-keyframes kitchen-bar {0%  { width:0px;} 25% { width: 25%; } 50% { width: 50%;} 75% { width: 60%; } 90% { width: 80%; } 100%{ width:100%;}  }

.KitchenButton {
  opacity: 0;
  position: absolute;
  margin: -40% -50% 10% 0;
  animation: kitchen-button 2s;
  -webkit-animation: kitchen-button 2s;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes kitchen-button {0%  { opacity: 0;} 100%{ opacity: 1;}  }
@-webkit-keyframes kitchen-button {0%  { opacity: 0;} 100%{ opacity: 1;}  }

.oven, .counter {
  float: right;
}

.oven {
  width: 90%;
  margin-top: 15em;
}

.counter {
  width: 98%;
  margin-top: -2%;
}

.rooster {
  margin: 0 5% 1% 0;
}

/* Market */

.SellingStand {
  background-image: url(./images/marketbackground.png);
  height: 31em;
  background-size: contain;
  background-repeat: repeat-x;
  border: 6px solid black;
  border-radius: 30px;
}

.water {
  opacity: 0;
  height: 30em;
  float: none;
  position: absolute;
  margin: 0.5em 30% 0 -45%;
  width: 90%;
  border-radius: 30px;
  -webkit-animation-name: water;
  -webkit-animation-duration: 4s;
  animation-name: water;
  animation-duration: 4s;
}

.cloud {
  width: 30%;
  opacity: 0;
  position: relative;
  -webkit-animation-name: cloud; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-name: cloud;
  animation-duration: 15s;
}

.cloud-two {
  width: 10%;
  margin-top: 20%;
  opacity: 0;
  position: relative;
  -webkit-animation-name: cloud-two; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 25s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-name: cloud-two;
  animation-duration: 25s;
}

@-webkit-keyframes water {
  0% {opacity: 0;}
  20% {opacity: 0.7;}
  40% {opacity: 0.3;}
  60% {opacity: 0.7;}
  70% {opacity: 0.3;}
  80% {opacity: 0.7;}
  100% {opacity: 0;}
}

@keyframes water {
  0% {opacity: 0;}
  20% {opacity: 0.7;}
  40% {opacity: 0.3;}
  60% {opacity: 0.7;}
  70% {opacity: 0.3;}
  80% {opacity: 0.7;}
  100% {opacity: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud {
  0%   {left:-250px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

/* Standard syntax */
@keyframes cloud {
  0%   {left:-250px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud-two {
  0%   {left:-50px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

/* Standard syntax */
@keyframes cloud-two {
  0%   {left:-50px; top:0px; opacity: 0;}
  25% {opacity: 1;}
  100% {left:300px; top:0px; opacity: 0;}
}

.stand {
  margin: 13em 30px 0 0;
  padding: 5px 5px 0 0;
  position: absolute;
  width: 30%;
  z-index: 20000;
}

/* Customer animation */
.peeps {
  position: absolute;
  display: inline-block;
  margin-top: 6em;
  width: 8%;
  opacity: 0;
  animation: appear 4s 1;
}

#p1 {
  animation-delay: 1s;
  margin-left: 10px;
}

#p2 {
  animation-delay: 8s;
  margin-left: 20px;
}

#p3 {
  animation-delay: 2s;
  margin-left: 40px;
}

#p4 {
  animation-delay: 7s;
  margin-left: 50px;
}

#p5 {
  animation-delay: 3s;
  margin-left: 60px;
}

#p6 {
  animation-delay: 8.5s;
  margin-left: 70px;
}

#p7 {
  animation-delay: 6s;
  margin-left: 80px;
}

#p8 {
  animation-delay: 4s;
  margin-left: 90px;
}

#p9 {
  animation-delay: 7s;
  margin-left: 100px;
}

#p10 {
  animation-delay: 6.5s;
  margin-left: 20px;
}

#p11 {
  animation-delay: 5.5s;
  margin-left: 30px;
}

#p12 {
  animation-delay: 9s;
  margin-left: 45px;
}

#p13 {
  animation-delay: 9.5s;
  margin-left: 100px;
}

#p14 {
  animation-delay: 8.5s;
  margin-left: 90px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes appear {
  0% {opacity: 0;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes appear {
  0% {opacity: 0;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.closed-sign {
  width: 90%;
}

/* Help Box */

.Help {
  height: 31em;
  background-color: rgb(80, 133, 177);
  border: 6px solid black;
  border-radius: 30px;
}