.App {
  text-align: center;
}

.StartScreen {
  height: 31em;
  background-size: cover;
  border: 6px solid black;
  border-radius: 30px;
  text-align: center;
}

.start {
  margin: 20%;
  font-size: 150%;
}

.App-header {
  background-color: rgb(247, 239, 31);
  height: 100px;
  padding: 20px;
  color: rgb(7, 7, 7);
}

.App-title {
  font-family: 'Freckle Face', cursive;
  font-size: 4em;
}

p {
  font-family: 'Love Ya Like A Sister', cursive;
}

.Control-Center {
  border: 6px solid black;
  border-radius: 30px;
  height: 31em;
  margin-top: 10px;
  background-color: silver;
}

.form-control {
  align-self: right;
  text-align: center;
  width: 30%;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #000;
}

.nav {
  background-color: #020202;
  color: #fff;
}

a {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}

.ctrl-title {
  font-weight: bold;
  font-size: 120%;
}

.btn {
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 5px;
  background-color: aliceblue;
}

.Gameboard {
  border: 6px solid black;
  border-radius: 30px;
  height: inherit;
  margin-top: 10px;
}

.weeds {
  width: 25%;
}

.produce-small {
  width: 60%;
}

.produce-large {
  width: 120%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  height: inherit;
  border: 6px solid black;
  border-radius: 30px;
}

.garden-grid {
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
}

.store-grid {
  background-color: oldlace;
}

.grid-container-small {
  display: grid;
  grid-template-columns: auto auto auto;
  background-image: url(./images/dirt.png);
  background-size: cover;
  background-color: #4C3A27;
  height: auto;
  border-radius: 30px;
}

.grid-item {
  border-radius: 30px;
  height: 10em;
}

.grid-item-garden {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
}

.grid-item-store {
  background-color: antiquewhite;
}

.grid-item-small {
  background-color: rgba(49, 34, 6, 0.8);
  background-image: url(./images/dirt.png);
  background-size: cover;
  border-radius: 30px;
  height: 3em;
}

.Kitchen {
  height: 31em;
  background-image: url(./images/kitchenwall.png);
  background-size: cover;
  border: 6px solid black;
  border-radius: 30px;
}

.SellingStand {
  height: 31em;
}

.workspace {
  height: 20em;
}

.oven {
  width: 50%;
  float: right;
}