.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(247, 239, 31);
  height: 100px;
  padding: 20px;
  color: rgb(7, 7, 7);
}

.App-title {
  font-family: 'Freckle Face', cursive;
  font-size: 4em;
}

p {
  font-family: 'Love Ya Like A Sister', cursive;
}

.ControlCenter {
  border: 3px solid black;
  border-radius: 30px;
  height: 30em;
}

.nav {
  background-color: #020202;
  
}
a {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}